.container {
  width: 90%;
  height: 48vh;
  border-radius: 15px;
  margin-top: -5%;
  margin-left: 2.5%;
  padding:  5px;
  display: flex;  
  align-items: left;
  flex-direction: column;
  
}

@media (max-width: 376px) {
  .head-container {
    width: 85%; 
    height: 50vh;
    margin-left: 4%;
    padding: 10px; 
    border-radius: 10px; 
    margin-top: -65vh;
    
  }
}

@media (min-width: 1440px) {
  .head-container {
    width: 30%; 
    height: 60vh;
    margin-left: 34%;
    padding: 10px; 
    border-radius: 10px; 
    margin-top: -70vh;
    
  }
}