.head-container {
    width: 30%;
    height: 50vh;
    border-radius: 15px;
    margin-top: -28%;
    margin-left: 34%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 97%);
    
  }

  .bottomText {
    font-size: 18px;
    color: hsl(25, 47%, 15%)
  }