.container1 {
  width: 30%;
  height: 100px;
  border-radius: 15px;
  margin-top: -35%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(10, 79%, 65%);

}

.mybalance {
  color: hsl(27, 66%, 92%);
  font-size: 14px;
  margin-left: -70%;
  padding-top: 4%;
  padding-bottom: 2%;
  font-family: "DM Sans"
}

.amount {
  color: hsl(24, 24%, 96%);
  font-weight: 700;
  margin-left: -66%;
  font-family: "DM Sans";
}

.logo {
  display: flex;
  position: relative;
  margin-right: -80%;
  margin-top: -14%;
  width: 50px;
  height: 100vh;
}

/* Media queries for responsiveness */
@media (max-width: 376px) {
  .container1 {
    width: 90%; /* Adjust width for smaller screens */
    margin-top: -120%; /* Adjust margin top */
  }

  .mybalance {
    margin-left: -40; /* Reset margin-left */
    padding-top: 4%; /* Adjust padding */
    padding-bottom: 1%; /* Adjust padding */
    font-size: 16px;
    
  }

  .amount {
    margin: 10x; /* Reset margin-left */
    font-size: 26px;
    font-weight: 700;
  }

  .logo {
    margin-right: 6; 
    margin-top: -70px;
    align-items: center;
  }
}

